body {
    color: #fff;
    background-color: #61122F;
    font-family:'Oxygen', sans-serif;
}
/* Header */


#navbarcolor{
    background-color: #f6b319;
    width: 100%
}


#logoimg{
    background: url("images/restaurant-logo_large.png") no-repeat;
    height: 150px;
    width: 150px;
    margin: 0;
    @media (min-width: 768px) and (max-width: 1199.98px) {
        background: url("images/restaurant-logo_medium.png") no-repeat;
        height: 100px;
        width: 100px;
        margin: 0;
       }

}

#nimmalledatenvonHIER{
    @media (min-width: 768px) and (max-width: 892px) {
        margin-top: 30px !important;
    }
}

.navbar-brand h1{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;
}

.navbar-brand p span{ /* K-star */
    vertical-align: middle;
}

.nav-link{
    color: #951c49 !important
}

.nav-item :hover{
    background-color: white;
}

#phone .fs-3{
    color: #951c49
}

#phone div{
    color:#557c3e
}

a[href^="tel:"] {
    text-decoration: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28149, 28, 73, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
    border: 1px solid #951c49
}

/*applies to sm and xs devices (e.g. phones in landscape mode less than 768px) */
@media (max-width: 767.98px){
    .navbar-brand h1{
        font-size: 5vw; /* 5% of the viewport = font-size */
    }
    #koshercertified{
        font-size: 3vw;
    }
    }

/* MD divices only  */
@media (min-width: 768px) and (max-width: 991.98px){

}

/* Large devices only  */
@media (min-width: 992px) and (max-width: 1199.98px){

}
/* XL and XXL */
@media (min-width: 1200px){

}